<%- include('../partials/layout') %>

<div class="container" style="padding: 20px; background: #fff;">
     <header class="jumbotron">
         <div class="container u-margin-bottom-small">
             <h1>Welcome Admin!</h1>
             <h3>View all submitted feedbacks by users!</h3>
             
         </div>
     </header>
     
     <div class="row text-center u-margin-bottom-small" style="display:flex; flex-wrap: wrap;">
        <% feedbacks.forEach(function(feedback){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><i><%= feedback.name %></i></h4>
                   </div>
                   <div class="caption">
                       <p><%= feedback.email %></p>
                   </div>
                   <div class="caption">
                        <p><%= feedback.message %></p>
                    </div>
                    <form id="delete-form" action="/admin2021FeedbackReports/<%= feedback._id %>?_method=DELETE"  method="POST" style="padding-top: 10px;">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>
</div>
</body>
</html>
